<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mobile.gclifetest.activity"
    android:installLocation="auto">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="mobile.gclifetest.activity.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="mobile.gclife.activity.permission.C2D_MESSAGE" />

    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.STATUS_BAR_SERVICE"
        android:protectionLevel="signature" />
    <application
        android:name="mobile.gclifetest.utils.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".Login"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Register"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".HomeApp"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTP"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminGrid"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemsList"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SocietyBillManagement"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MySociety"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MySocietyBill"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminBillManagement"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddFlats"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".FlatDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="mobile.gclifetest.utils.FilePicker"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewBillDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IdeasList"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IdeasCreate"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".IdeasDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="mobile.gclifetest.custom.CustomImgGalleryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GalleryImageViewer"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImpContacts"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FrdsList"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FrdsDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InBox"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PhotosList"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="mobile.gclifetest.custom.CustomVideoGalleryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoPlay"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PhotosCreate"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".InboxDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="mobile.gclifetest.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="mobile.gclife.activity" />
            </intent-filter>
        </receiver>

        <service android:name="mobile.gclifetest.gcm.GcmMessagerHandler" />

        <!--NEW INTENTS-->
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="mobile.gclifetest.fragments.InboxActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
