<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mobile.gclife.activity"
    android:installLocation="auto">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    <supports-screens android:largestWidthLimitDp="320" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="mobile.gclife.activity.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="mobile.gclife.activity.permission.C2D_MESSAGE" />

    <application
        android:name="mobile.gclife.PojoGson.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name="mobile.gclife.activity.Login"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="mobile.gclife.activity.Register"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="mobile.gclife.activity.HomeApp"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mobile.gclife.activity.OTP"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.activity.AdminGrid"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.activity.MemsList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.activity.UserProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.activity.SocietyBillManagement"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.activity.MySociety"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.activity.MySocietyBill"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.activity.AdminBillManagement"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.activity.AddFlats"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="mobile.gclife.activity.FlatDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.application.FilePicker"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.activity.ViewBillDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.activity.IdeasList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.activity.IdeasCreate"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="mobile.gclife.activity.IdeasDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="mobile.gclife.custom.CustomImgGalleryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.activity.GalleryImageViewer"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.activity.ImpContacts"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.activity.FrdsList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.activity.FrdsDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.activity.InBox"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="mobile.gclife.activity.PhotosList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.custom.CustomVideoGalleryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.activity.VideoPlay"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mobile.gclife.activity.EditProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="mobile.gclife.activity.PhotosCreate"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="mobile.gclife.activity.InboxDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="mobile.gclife.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="mobile.gclife.activity" />
            </intent-filter>
        </receiver>

        <service android:name="mobile.gclife.gcm.GcmMessagerHandler" />

   <!--  <meta-data
            android:name="com.google.android.gms.version"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />-->
    </application>

</manifest>